node_modules/
content/.obsidian
content/_templates
public/*
!public/app.js
!public/global.js
!public/page.css
!public/style.css
!public/sitemap.html
!public/index.html
!public/images
!public/shared.css
!public/router.js
!public/manifest.json
!public/icon.svg
!public/sw.js